# Binarios y Temporales
*.exe
*~
*.tmp
*.log
ruler_api
main

# IDEs y otros
.vscode/
.scannerwork/

# Variables de entorno
*.env
!.template.env

# Swagger
swagger/**
!swagger/swagger.yml
!swagger/swagger.json
